@using GameStoreMVC.Models
@model Review;


<form method="post">
    <div class="mb-3">
        <label class="form-label" asp-for="Title">Title</label>
        <input class="form-control" asp-for="Title" >
    </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
</form>